{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="h1">
    <h1 class="display-5">Craig's Trello API To-Do App</h1>
  </div>

  <form action="add" method="post" class="jumbotron">
    <div>
      <label for="description">Enter item description: </label>
      <input type="text" name="description" id="description" required>
    </div>
    <div>
      <input type="submit" value="Add new item!">
    </div>
  </form>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
    </tr>    
    {% for item in items %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.status}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}