{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="h1">
    <h1 class="display-5">Craig's Tello API To-Do App</h1>
  </div>

  <form action="add" method="post" class="jumbotron">
    <div>
      <label for="description">Enter item description: </label>
      <input type="text" name="description" id="description" required>
    </div>
    <div>
      <input type="submit" value="Add new item!">
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
          {% for item in items %}
                <li>ID[{{ item.id }}] Name[{{ item.name }}] Status[{{ item.status }}]</li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}